[Unit]
Description=3proxy Proxy Server
After=syslog.target

[Service]
Type=forking
User={{ proxy_system_user }}
Group={{ proxy_system_user }}
ExecStart=/usr/bin/3proxy {{ proxy_config_path }}/{{ proxy_service_name }}.cfg

[Install]
WantedBy=multi-user.target
