# {{ ansible_managed }}

{% if proxy_daemon %}daemon{% endif %}

setuid {{ proxy_user_uid.stdout }}
setgid {{ proxy_user_gid.stdout }}

{% if proxy_radius %}
radius {{ proxy_radius.password }} {{ proxy_radius.server }}
auth radius
log {{ proxy_radius.log | default('radius') }}
{% else %}
log {{ proxy_log }}
{% if proxy_logformat | length > 0 %}
logformat "{{ proxy_logformat }}"
{% endif %}
auth {{ proxy_auth }}
{% if proxy_users | length > 0 %}
users ${{ proxy_config_path }}/{{ proxy_service_name }}.auth
{% endif %}
{% endif %}

{% if proxy_allow | length > 0 %}
allow {{ proxy_allow }}
{% endif %}
{% if proxy_deny | length > 0 %}
deny {{ proxy_deny }}
{% endif %}

maxconn {{ proxy_maxconn }}

{% for e in proxy_nserver %}
nserver {{ e | ipaddr }}
{% endfor %}

nscache {{ proxy_nscache }}
nscache6 {{ proxy_nscache }}

{% for s in proxy_servers %}
{{ s.type }} {% if s.port %}-p{{ s.port }}{% endif %} {{ s.options | default("") }}
{% endfor %}
